<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <title>MP Backup</title>
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>

    <!-- https://getbootstrap.com/docs/5.3/examples/dashboard/# -->
    <div class="container-fluid">
      <div class="row">
        <button type="button" class="btn btn-dark">CIAO</button>
      </div>
    </div>

  </body>
</html>